body {
    font-family: 'Roboto', sans-serif; 
    color: #212121;
}

main,
header {
    background-color: var(--brand-white);
}

:root {
    --brand-dark-blue: #0616a5;
    --brand-light-blue: #2196F3;
    --brand-white: #FFFFFF;
    --brand-dark: #000;
    --brand-grey: #757575; 
    --brand-black: #212121; 
    --brand-white-grey: #F5F5F5;
}

* {
    box-sizing: border-box;
}

header {
    border-bottom: 1.5px solid #ECECEC;
}

h1,
h2,
h3,
h4,
h5,
h6, 
p {
    margin: 0;
}

* {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: var(--brand-light-blue);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.logo-header {
    margin-right: 93px;
    padding: 28px 0px 28px 0px;
}

.web-header {
    color: #000;
}

.header-link-studio,
.header-link-portfolio,
.header-link-contacts,
.header-link-mail,
.header-link-telnumber {
    padding: 32px 0px 32px 0px;
}

.web-footer {
    color: var(--brand-white);
}

.header-link-studio,
.header-link-portfolio {
    margin-right: 50px;
}

.header-link-mail {
    margin-right: 40px;
}

.header-navigation {
    margin-right: auto; 
}

.header {
    vertical-align: auto;
}

.header .logo {
    font-weight: 700;
    font-size: 26px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-nav,
.header-contact {
    list-style: none;
    display: flex;
}

.header-links {
    position: relative;
}

.current:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    content: "";
    background-color: var(--brand-light-blue);
    border-radius: 2px;
}

.header-nav-link {
    color: var(--brand-dark);
    transition: color 200ms linear;
}

.icon-header-contact {
    fill: var(--brand-grey);
    margin-right: 10px;
}

.header-mail:hover .icon-header-contact,
.header-mail:focus .icon-header-contact,
.header-telnumber:hover .icon-header-contact,
.header-telnumber:focus .icon-header-contact {
    fill: var(--brand-light-blue);
    color: var(--brand-light-blue);
}

.header-mail:active .icon-header-contact,
.header-telnumber:active .icon-header-contact {
    fill: var(--brand-dark-blue);
}



.header-link-mail, 
.header-link-telnumber {
    display: flex;
    text-align: center;
    justify-content: center;
}

.header-mail,
.header-telnumber {
    color: var(--brand-grey);
    display: flex;
    text-align: center;
    transition: color 200ms linear;
}

.header-nav-link:hover,
.header-mail:hover,
.header-telnumber:hover,
.header-nav-link:focus,
.header-mail:focus,
.header-telnumber:focus {
    color: var(--brand-light-blue);
}

.header-nav-link:active,
.header-mail:active,
.header-telnumber:active {
    color: var(--brand-dark-blue);
}

.hero {
    text-align: center;
    background-color: #2F303A;
    font-weight: 700;
    font-family: inherit;
    padding: 200px 0px 200px 0px;
    background-image: url(../images/img-background-main\ .jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-background-main\ .jpg);
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636; 
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--brand-white);
    margin: 0px 252px 0px 252px;
}

.button-service {
    min-width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--brand-white);
    background: var(--brand-light-blue); 
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    transition: background-color 200ms linear;
}

.button-service:hover,
.button-service:focus {
    background-color: rgb(64, 66, 206);
}

.button-service:active {
    background-color: var(--brand-dark-blue);
}

.main {
    padding-top: 94px;
}

.advantages { 
    text-align: center;
    font-size: 25px;
    padding-top: 60px;
}

.text {
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
}

.box-main-top {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 30px;
    margin-bottom: 30px;
}

.box-top {
    width: 270px;
    height: 120px;
}

.box-top-link {
    width: 100%;
    height: 100%;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-top-icon {
    display: flex;
    justify-content: center;
    align-self: center;
}

.adv-list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.plan,
.tasks {
    width: 270px;
}

.content {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--brand-grey);
    margin-top: 10px;
}

.section-about {
    padding: 94px 0px 94px 0px;
}

.about {
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    color: var(--brand-black);
    margin-bottom: 50px;
}

.info {
    list-style: none;
    display: block;
    display: flex;
    gap: 30px;
}

.images {
    position: relative;
    display: block;
}

.label-text {
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    height: 70px;
    color: var(--brand-white);
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    opacity: 1;
    display: flex;
}

.images-employment {
    display: block;
}

.text-about-employers {
    padding: 30px 0px 30px 0px;
}

.team {
    background-color: #F5F4FA;
    padding: 94px 0px 94px 0px;
}

.our-team {
    font-size: 36px;
    line-height: 1.6666;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px 0px 50px 0px;
}

.employers-img {
    display: block;
}

.employers {
    list-style: none;
    display: flex;
    gap: 30px;
}

.info-about-employers {
    width: 270px;
    height: 428px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.content-about {
    margin-bottom: 16px;
}

.ul-links-employers {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.li-links-employers {
    width: 44px;
    height: 44px;
}

.links-employers {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 200ms linear, background-color 200ms linear;
}

.icon-links-employers {
    fill: #AFB1B8;
}

.links-employers:hover,
.links-employers:focus{
    background-color: #2196F3;
}

.links-employers:active {
    background-color: var(--brand-dark-blue);
}

.links-employers:hover .icon-links-employers {
    fill: var(--brand-white);
}

.links-employers:focus .icon-links-employers {
    fill: var(--brand-white);
}

.content-about {
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--brand-grey);
}

.regular-clients {
    padding: 94px 0px 94px 0px;
}

.clients-names {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.box-main-bottom {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 30px;
}

.box-bottom {
    width: 170px;
    height: 92px;
}

.link-box-bottom {
    color: #AFB1B8;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 200ms linear, border 200ms linear;
    fill: #AFB1B8;
}

.link-box-bottom:hover,
.link-box-bottom:focus {
    color: var(--brand-light-blue);
    border-color: var(--brand-light-blue);
}

.link-box-bottom:hover .box-bottom-icon,
.link-box-bottom:focus .box-bottom-icon {
    fill: currentColor;
}

.main-portfolio {
    padding: 94px 0px 94px 0px;
}

.work {
    text-align: center;
}

.button {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.buttons {
    min-width: 112px;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-black);
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none; 
    transition: background-color 200ms linear;
}
.buttons:hover,
.buttons:focus {
    color: var(--brand-white);
    background-color: var(--brand-light-blue);
}

.buttons:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}   

.buttons:active {
    color: var(--brand-white);
    background-color: var(--brand-dark-blue);
}

.button .buttons {
    font-family: inherit; 
}

.all {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.all-about { 
    width: 370px;
    background: var(--brand-white);
    border: 1px solid #EEEEEE;
}

.img-div-link-about {
    display: block;
}

.link-about-text {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 63px 24px 63px 24px;
    font-size: 18px;
    line-height: 1.55;
    color: var(--brand-white);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 500ms;
}

.link-about:hover .link-about-text,
.link-about:focus .link-about-text{
    transform: translateY(0);
    opacity: 1;
}

.div-link-about-text {
    position: relative;
    overflow: hidden;
}

.div-all-about {
    padding: 20px 24px 20px 24px;
}

.img-all-about {
    display: block;
} 

.link-about:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); 
}

.titles-all {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--brand-black);
    text-decoration: none;
    min-width: 322px;
    margin-bottom: 4px;
}

.about-all {
    line-height: 30px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--brand-grey);
}

.link-about {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--brand-grey);
    text-decoration: none;
    display: block;
    transition: border 500ms linear, 500ms linear;
}

.footer { 
    height: 252px;
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.address {
    list-style: none;
}

.adress-map {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--brand-white);
    text-decoration: none;
}

.link { 
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.adress-map:hover,
.link:hover,
.adress-map:focus,
.link:focus {
    color: var(--brand-light-blue);
}

.adress-map-link {
    margin-top: 20px;
}

.mail-link,
.phone-link {
    margin-top: 9px;
}

.link,
.adress-map {
    transition: color 300ms linear;
}

.subscribe {
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-white);
    font-weight: 700;
}

.footer-social {
    margin-left: 70px;
}

.footer-social-list {
    display: flex;
    gap: 10px;
}

.footer-social-item {
    width: 44px;
    height: 44px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 200ms linear;
}

.footer-social-sign {
    fill: var(--brand-white);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #2196F3;
}

.footer-social-link:active {
    background-color: var(--brand-dark-blue);
}

.footer-share-form {
    display: block;
    margin-left: auto;
}

.footer-share-div {
    display: flex;
}

.share-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2F303A;
    margin-right: 12px;
    color: var(--brand-white);
    padding-left: 16px;
    padding-right: 16px;
    transition: 200ms;
}

.share-input:hover {
    border-color: var(--brand-light-blue);
}

.share-input:focus {
    border-color: rgb(64, 66, 206);
}

.button-follow {
    width: 200px;
    height: 50px;
    background-color: var(--brand-light-blue);
    border-radius: 4px;
    border: none;
    color: var(--brand-white);
    letter-spacing: 0.06em;
    font-weight: 450;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: 200ms;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-follow:hover {
    background-color: rgb(64, 66, 206);
}

.button-follow:focus {
    background-color: var(--brand-dark-blue);
}

.share-icon {
    width: 24px;
    height: 24px;
    fill: var(--brand-white);
    margin-left: 10px;
}

.title-share {
    font-weight: 700;
    font-size: 14px;
    color: var(--brand-white);
    letter-spacing: 0.03em;
    border-radius: 4px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.current {
    color: var(--brand-light-blue);
}

.boxes-footer {
    display: flex;
    align-items: baseline;
}

.div-footer {
    display: block;
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal {
    position: absolute;
    width: 528px;
    height: 594px;
    background-color: var(--brand-white);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms linear;
    padding: 40px;
}

.button-exit {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    fill: var(--brand-dark);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
    letter-spacing: 0.03em;
}

input, textarea {
    font-size:12px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    background-color: transparent;
    padding-left: 42px;
    padding-right: 15px;
    transition: 200ms;
}

.modal-input:hover,
.modal-input:focus {
    border-color: var(--brand-light-blue);
}

.modal-input:hover + .icon-modal-form,
.modal-input:focus + .icon-modal-form {
    fill: var(--brand-light-blue);
    transition: 200ms;
}

.modal-input:active, :hover, :focus { 
    outline: 0;
    outline-offset: 0;
}

.icon-modal-form {
    color: #000;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.input-wrapper {
    position: relative;
    margin-bottom: 10px;
    margin-top: 4px;
}

.modal-input-comment {
    padding: 16px;
    height: 120px;
    resize: none;
    margin-top: 4px;
}

.modal-input::placeholder {
    font-size: 12px;
}

textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.label-modal {
    color: var(--brand-grey);
    font-size: 12px;
}

.text-policy {
    font-size: 14px;
    color: var(--brand-grey);
}

.link-policy {
    color: var(--brand-light-blue);
    margin-left: 4px;
}

.text-policy span {
    width: 16px;
    height: 15px;
    border: 2px solid #303030;
    border-radius: 3px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.input-mark-checkbox:checked  + .text-policy span {
    background-color: var(--brand-light-blue);
    border: none;
    background-image: url(../images/);
    fill: var(--brand-white);
}

.policy-div {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.text-policy {
    display: flex;
}

.send-button {
    width: 200px;
    height: 50px;
    font-size: 16px;
    background-color: var(--brand-light-blue);
    color: var(--brand-white);
    border-radius: 4px;
    border: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    display: block;
    margin: 0 auto;
    font-weight: 700;
    min-width: 200px;
    letter-spacing: 50%;
    letter-spacing: 0.06em;
    transition: 200ms;
}

.send-button:hover,
.send-button:focus {
    background-color: rgb(64, 66, 206);
}

.send-button:active {
    background-color: var(--brand-dark-blue);
}






















