:root {
    --brand-dark-blue: #0616a5;
    --brand-light-blue: #2196F3;
    --brand-white: #FFFFFF;
    --brand-dark: #000;
    --brand-grey: #757575; 
    --brand-black: #212121; 
    --brand-white-grey: #F5F5F5;
}