.header__container {
    @extend %scaling; 
}

.header {
    vertical-align: auto;
}

.header a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: var(--brand-light-blue);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.header .logo {
    font-weight: 700;
    font-size: 26px;
}

.header__logo {
    margin-right: 93px;
    padding: 28px 0px 28px 0px;
}

.header__web {
    color: #000;
}

.list__studio,
.list__portfolio,
.list__contacts,
.contact-list__mail,
.contact-list__telnumber {
    padding: 32px 0px 32px 0px;
}

.list__studio,
.list__portfolio {
    margin-right: 50px;
}

.contact-list__mail {
    margin-right: 40px;
}

.header__navigation {
    margin-right: auto; 
}

.list,
.contact-list {
    list-style: none;
    display: flex;
}

.list__links {
    position: relative;
}

.current:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    content: "";
    background-color: var(--brand-light-blue);
    border-radius: 2px;
}

.list__link {
    color: var(--brand-dark);
    transition: color 200ms linear;
}

.contact-list__icon {
    fill: var(--brand-grey);
    margin-right: 10px;
}

.contact-list__mail-link:hover .contact-list__icon,
.contact-list__mail-link:focus .contact-list__icon,
.contact-list__telnumber-link:hover .contact-list__icon,
.contact-list__telnumber-link:focus .contact-list__icon {
    fill: var(--brand-light-blue);
    color: var(--brand-light-blue);
}

.contact-list__mail-link:active .contact-list__icon,
.contact-list__telnumber-link:active .contact-list__icon {
    fill: var(--brand-dark-blue);
}

.contact-list__mail, 
.contact-list__telnumber {
    @extend %scaling; 
}

.contact-list__mail-link,
.contact-list__telnumber-link {
    @extend %scaling; 
    color: var(--brand-grey);
    transition: color 200ms linear;
}

.list__link:hover,
.contact-list__mail-link:hover,
.contact-list__telnumber-link:hover,
.list__link:focus,
.contact-list__mail-link:focus,
.contact-list__telnumber-link:focus {
    color: var(--brand-light-blue);
}

.header-nav-link:active,
.contact-list__mail-link:active,
.contact-list__telnumber-link:active {
    color: var(--brand-dark-blue);
}